{% extends 'base.html.twig' %}

{% block title %}AfamiaShop | {% trans %}Registration email sent{% endtrans %}{% endblock %}

{% block body %}
<div class="login_register_wrap section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-10">
                <div class="border_form">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3>{% trans %}Registration Email Sent{% endtrans %}</h3>
                        </div>
                        <div class="content">
                            <p>
                                {% trans %}If there is an account matching your email address, an email has just been sent containing a link you can use to confirm your registration .{% endtrans %}
                            </p>
                            <p>{% trans %}If you don't receive an email please check your spam folder or {% endtrans %} <a href="{{ path('app_register') }}">{% trans %}try again{% endtrans %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
{% endblock %}
