
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title> Simple marker</title>
        <style>
        #map {
            height: 100%;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        </style>
    </head>
    <body>
        {% block body %}
        <div id="map"></div>
        <script>
            function initMap(){
                var mayLatLng = {lat: 36.8064948, lng: 10.181531599999971};

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: mayLatLng
                });
                var marker = new google.maps.Marker({
                    position: mayLatLng,
                    map: map,
                    title: 'Hello word'
                });
            }
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTBrEPbkUDzARZT2yBwQAjS-SN5x8L13k&callback=initMap">
        </script>
        {% endblock %}
    </body>
</html>
