{% extends 'base.html.twig' %}

{% block title %}AfamiaShop | {% trans %}Reset your password{% endtrans %}{% endblock %}

{% block body %}
    
<div class="login_register_wrap section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-10">
                <div class="border_form">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3>{% trans %}Reset Password{% endtrans %}</h3>
                        </div>
                        <div class="content">
                            {{ form_start(resetForm) }}
                                {{ form_row(resetForm.plainPassword.first) }}
                                {{ form_row(resetForm.plainPassword.second) }}
                                <button class="btn btn-fill-out btn-block">{% trans %}Reset password{% endtrans %}</button>
                            {{ form_end(resetForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function() {
        
        document.querySelector('form').addEventListener('submit', function(event) {
            const passwordField = document.querySelector('#password_form_plainPassword_first');
            const passwordConfirmField = document.querySelector('#password_form_plainPassword_second');
            
            if (passwordField.value.length < 6) {
                alert('The password must contain at least 6 characters.');
                passwordField.focus();
                event.preventDefault(); // Empêche la soumission du formulaire
            }
            
            if (passwordField.value !== passwordConfirmField.value) {
                alert('Passwords do not match.');
                passwordConfirmField.focus();
                event.preventDefault(); // Empêche la soumission du formulaire
            }
        });
    };
</script>
{% endblock %}
