{% extends 'base.html.twig' %}

{% block title %}AfamiaShop | {% trans %}Shop {% endtrans %} {% endblock %}
{% block body %}
<div class="main_content">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="sidebar">
                        <div class="widget">
                            <div>
                            <h3>{% trans %}Filter our products...{% endtrans %}</h3>
                            </div>
                            {{ form(filterForm)}}
                        </div>
                    </div>
                </div>
                {% if products %}
                    <div class="col-lg-9"> 
                        <div  class="tab-content">
                            <div  id="arrival" role="tabpanel" aria-labelledby="arrival-tab"
                                class="tab-pane fade show active">
                                <div  class="row shop_container">
                                    {% for product in products %} 
                                        {% include "product/display_product.html.twig" %}
                                    {% endfor %} 
                                </div>
                            </div>
                            <div class="row">
                                <div class="pagination">
                                    {{ knp_pagination_render(products) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-9 text-center"> 
                        <p>{% trans %}No result found.{% endtrans %}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}