{% extends 'base.html.twig' %}

{% block title %}AfamiaShop | {% trans %}newsletter unsubscription confirmation {% endtrans %}{% endblock %}

{% block body %}
<div class="login_register_wrap section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-10">
                <div class="border_form">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3>{% trans %}newsletter Unsubscription Confirmed{% endtrans %}</h3>
                        </div>
                        <div class="content">
                            <p>
                                {% trans %}You are unsubscribed from the newsletters.{% endtrans %}
                            </p>
                            <p>{% trans %}To subscribe for a level, please click on this link {% endtrans %} <a href="{{ path('app_newsletters')}}">{% trans %}Subscribe{% endtrans %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
{% endblock %}
