{% extends 'base.html.twig' %}

{% block title %}AfamiaShop | {% trans %}New Address{% endtrans %}{% endblock %}

{% block body %}
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="border_form">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>{% trans %}Add a new address{% endtrans %}</h3>
                            </div>
                            <div class="message-flash">
                                {% for message in app.flashes('checkout_message') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert"> {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endfor %}
                            </div>
                            <div class="content">
                                {{ include('address/_form.html.twig') }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}