{% extends 'base.html.twig' %}

{% block title %}AfamiaShop | {% trans %}terms and conditions{% endtrans %}{% endblock %}

{% block body %}
    <div  class="main_content">
        <div  class="section small_pt pb_70">
            <div  class="container">
                <div  class="row">
                    <div  class="col-12">
                        <div>
                            <h2>{% trans %}Article 1 - Identity of the seller{% endtrans %}</h2>
                        </div>
                        <div  class="tab-content">
                            <div>
                                <p>{% trans %}AfamiaShop België trades under the name: AfamiaShop.be {% endtrans %}</p>
                            </div>
                            <div>
                                <p>{% trans %}Registered address :{% endtrans %}</p>
                                <p>_ AfamiaShop</p>
                                <p>_ Rue des Rivageois 7 , 4000 Liège</td>
                                <p>{% trans %}_ Belgium{% endtrans %}</p>
                            </div>
                        </div>
                         <div  class="tab-content">
                            <div>
                                <p>{% trans %}Availibility :{% endtrans %}</p>
                                <p>{% trans %}_ Monday to Friday from 8:00 until 19:59{% endtrans %}</p>
                                <p>{% trans %}_ Telephone number 0489 47 08 53{% endtrans %}</td>
                                <p>{% trans %}_ Email address: ay1665ay@gmail.com{% endtrans %}</p>
                                <p>{% trans %}_ Company number: BE 0000 222 444{% endtrans %}</p>
                                <p>{% trans %}_ Bank account number: BE00000000000000<{% endtrans %}/p>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="row">
                    <div  class="col-12">
                        <div>
                            <h2>{% trans %}Article 2 - Applicability{% endtrans %}</h2>
                        </div>
                        <div  class="tab-content">
                            <div>
                                <p>1-{% trans %}Our Terms and Conditions apply to all offers by us as Online Retailer, 
                                to you as Consumer (any natural person who, for non-professional purposes only, acquires or uses products or services on the market){% endtrans %}.</p>
                                <p>2-{% trans %}We only deliver in Belgium. If you select a shipping address in a different country, we can refuse your order{% endtrans %}.</p>
                                <p>3-{% trans %}You need to be at least 18 years of age to place an order. If you're not 18 yet, we'd like to ask you to have your parents or a legal guardian place the order. 
                                If we notice that an order has been placed by a minor, we can refuse this order{% endtrans %}.</p>
                                <p>4-{% trans %}Placing an order on the website counts as explicit acceptance of our Terms and Conditions, which can be accessed at all times through our website{% endtrans %}.</p>
                                <p>5-{% trans %}If you order online, we will attach a copy of these Terms and Conditions in a format that can be saved or printed to your order confirmation or, at the latest, to your delivery. 
                                We urge you to always save or print the Terms and Conditions{% endtrans %}.</p>
                                <p>6-{% trans %}In the event that, in addition to these general Terms and Conditions, specific product or service conditions also apply, the above also applies to those special conditions. In the event of conflicting conditions, 
                                the consumer can always invoke the applicable condition that is most favorable to them{% endtrans %}.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="row">
                    <div  class="col-12">
                        <div>
                            <h2>{% trans %}Article 3 - Our assortment and your order{% endtrans %}</h2>
                        </div>
                        <div  class="tab-content">
                            <div>
                                <p>1-{% trans %}If an offer has a limited validity period, or is made under conditions, this will be explicitly stated in the offer{% endtrans %}.</p>
                                <p>2-{% trans %}We'll describe what we sell and how the order process will proceed as fully and accurately as possible. The description will 
                                be sufficiently detailed to enable a good evaluation of the offer by the consumer. If we use images, these will be a true representation 
                                of the offered products, digital content, and/or services. Oversights happen, and if we've clearly made a mistake, we're not 
                                required to deliver afterwards {% endtrans %}.</p>
                                <p>3-{% trans %}If you order from us, you'll receive a confirmation by email. Your order will be complete and the agreement between us will be definitive 
                                as soon as we've received approval from the card company for your transaction with debit or credit cards. We accept Visa, 
                                MasterCard and cash. If the card company does not approve of your payment to us, we cannot be held responsible for delays in 
                                shipping and/or non-delivery of your order. Orders without a valid payment in the name of the registered cardholder will not be accepted or processed{% endtrans %}.</p>
                                <p>4-{% trans %}To purchase a product, you add the product to your shopping cart. Afterwards, you provide your contact information and invoice information. Next, you 
                                choose your delivery method: delivery on your chosen address, send to a chosen pickup point, or pickup in one of our AfamiaShop store. During the last step, you'll 
                                see an overview page where you can accept our Terms and Conditions and where you can confirm the payment by clicking the order button ¿I'm going to order¿. 
                                Once you've completed these steps, your purchase is final{% endtrans %}.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="row">
                    <div  class="col-12">
                        <div>
                            <h2>{% trans %}Article 4 - The price{% endtrans %}</h2>
                        </div>
                        <div  class="tab-content">
                            <div>
                                <p>1-{% trans %}During the period we mention in our offer, our prices do not change, with the exception of price changes due to changes in VAT rates{% endtrans %}.</p>
                                <p>2-{% trans %}Our prices include all taxes, VAT, taxes and services. You will never face surprises here. Shipping is free. If you choose time slot delivery 
                                we will charge shipping costs. In that case, we always let you know before you place your order{% endtrans %}.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="row">
                    <div  class="col-12">
                        <div>
                            <h2>{% trans %}Article 5 - Payment{% endtrans %}</h2>
                        </div>
                        <div  class="tab-content">
                            <div>
                                <p>1-{% trans %}We can only accept payment via the payment modules on our website for online orders{% endtrans %}.</p>
                                <p>2-{% trans %}In order to guarantee secure online payments and the security of your personal data, 
                                the transaction data is transmitted via the internet, encrypted with SSL technology. To pay with SSL, 
                                you do not need special software. You can recognize a secure SSL connection by the "lock" in your browser's status bar{% endtrans %}.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="row">
                    <div  class="col-12">
                        <div>
                            <h2>{% trans %}Article 6 - Conformity and warranty{% endtrans %}</h2>
                        </div>
                        <div  class="tab-content">
                            <div>
                                <p>1-{% trans %}We guarantee that our goods are in accordance with your order and meet the normal expectations that you may have, taking into account 
                                the specifications of the product. We also guarantee that our goods comply with all laws existing at the time of your order.{% endtrans %}</p>
                                <p>2-{% trans %}In addition, with regard to the delivery of goods, we also apply the statutory minimum warranty period of two years if the good is 
                                not in conformity with the order placed. This means that, in case of defects or defects to the good, this good will be repaired free of 
                                charge or replaced for up to 2 years after delivery.{% endtrans %}
                                </p>
                                <p>3-{% trans %}Sometimes AfamiaShop or its supplier offers a longer or more extensive warranty than the legal minimum warranty of 2 years; this is a 
                                commercial warranty. The commercial warranty does not affect the statutory minimum warranty. Whether a commercial warranty is offered differs per product. 
                                The characteristics of the commercial warranty are stated on the product web page and the proof of warranty. AfamiaShop is responsible for handling the commercial warranty, 
                                unless stated otherwise on the product's web page. Commercial warranties apply in Belgium and for the period stated on the product's web page.{% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="row">
                    <div  class="col-12">
                        <div>
                            <h2>{% trans %}Article 7 - Delivery and implementation{% endtrans %}</h2>
                        </div>
                        <div  class="tab-content">
                            <div>
                                <p>1-{% trans %}All goods and services are delivered on the address you supplied in your order{% endtrans %}.</p>
                                <p>2-{% trans %}We will take the greatest possible care when receiving and implementing product orders, 
                                and when assessing applications for the provision of services{% endtrans %}.</p>
                                <p>3-{% trans %}We will execute accepted orders expeditiously but no later than 30 days, unless another delivery period has been agreed upon. If the delivery
                                is delayed, or if an order cannot or only partially be executed, we will always inform you before the expiration of the planned delivery period. If we 
                                do not, you can cancel your order, free of charge. In that case, we will refund you within 30 days after termination{% endtrans %}.</p>
                                <p>4-{% trans %}Our shipments are always at our risk until the time of delivery to you or a representative appointed by you. You do not have to worry about goods 
                                that are lost in the mail. However, if you return us goods within 30 days of purchase because you would rather not keep them, you 
                                are responsible for transportation.{% endtrans %}</p>
                                <p>5-{% trans %}If the goods delivered by us during the transport were damaged, do not correspond with the items stated on the delivery note, or do not correspond to the 
                                items you ordered, you must report this as soon as possible and return the items to us{% endtrans %}.</p>
                                <p>6-{% trans %}We can not be held responsible for any consequential damages due to late delivery or non-delivery by the carrier that the company has appointed. Our liability 
                                in such cases is limited to the value of the items that are shown not to have been received by the customer{% endtrans %}.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="row">
                    <div  class="col-12">
                        <div>
                            <h2>{% trans %}Article 8 - Force majeure{% endtrans %}</h2>
                        </div>
                        <div  class="tab-content">
                            <div>
                                <p>1-{% trans %}In the event of force majeure, we are not required to carry out our obligations. In the case of force majeure, we can either postpone our 
                                obligations for the duration of the force majeure, or terminate the agreement permanently.{% endtrans %}</p>
                                <p>2-{% trans %}Force majeure includes any situation outside of our will and control which prevents us from fulfilling our promises to you. This includes strikes, 
                                fire, malfunctions, power failures, network failures in, for instance, telecommunication networks, connections, or used systems of communication, or the unavailability of our website at any time, non-timely delivery by suppliers or other third parties{% endtrans %}.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="row">
                    <div  class="col-12">
                        <div>
                            <h2>{% trans %}Article 9 -  Intellectual property{% endtrans %}</h2>
                        </div>
                        <div  class="tab-content">
                            <div>
                                <p>1-{% trans %}Our website, logos, texts, photos, names, and all our communication in general are protected by intellectual property rights known to us, or to our suppliers or other beneficiaries.{% endtrans %}</p>
                                <p>2-{% trans %}It is prohibited to use and/or make changes to the intellectual property rights as described in this article. For example, you may not copy or reproduce drawings, photographs, texts, logos, 
                                color combinations, etc ... without our prior written consent.{% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="row">
                    <div  class="col-12">
                        <div>
                            <h2>{% trans %}Article 10 -  Complaints procedure and disputes{% endtrans %}</h2>
                        </div>
                        <div  class="tab-content">
                            <div>
                                <p>1-{% trans %}We hope that our customers are 100% satisfied. If you do have a complaint, please let us know as soon as possible via ay1665ay@gmail.com, phone number 0489 47 08 53, or via a letter 
                                addressed to: AfamiaShop Belgium , Rue des Rivageois 7 , 4000 Liège . We'll do everything we can to help you within 5 working days.{% endtrans %}</p>
                                <p>2-{% trans %}All agreements that we conclude with our clients, regardless of their place of residence, are governed exclusively by Belgian law, and in case of a dispute, only the competent Belgian courts 
                                are competent. If, for reasons of international law, another law applies, Book VI of the Belgian Economic Law Code will be referenced when interpreting the current Terms and Conditions.{% endtrans %}</p>
                                <p>3-{% trans %}The Consumer Mediation Service of the FOD Economie is qualified to process any request to settle extrajudicial consumer disputes. They will, in turn, process the request themselves or send it to a 
                                qualified entity. You can reach the Consumer Mediation Service via this link: https://www.consumentenombudsdienst.be/en {% endtrans %}</p>
                                <p>4-{% trans %}If there is a cross-border dispute, the consumer can rely on the Online Dispute Resolution platform of the European Union via this link: https://ec.europa.eu/odr.{% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}